@charset "utf-8";
.spi_card_player .spi_cls span, .spi_card_player .spi_area a:before {
    background-image: url(https://ssl.pstatic.net/static/common/spi/2023/1222/sp_spi_player_mobile.png);
    background-size: 154px 154px;
}

.spi_card_player,
.spi_card_player a,
.spi_card_player strong {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo', sans-serif;
}

.spi_card_player a {
    text-decoration: none;
}

.spi_card_player {
    display: none;
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    z-index: 20010 !important;
    width: 100%;
}

.spi_card_player:after {
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5) !important;
    z-index: 4000 !important;
    content: "";
}

.spi_card_player .u_spi_mypost {
    display: none !important;
}

.spi_card_player .spi_content {
    position: absolute !important;
    top: 50% !important;
    right: 0 !important;
    left: 0 !important;
    z-index: 4010 !important;
    -webkit-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
}

.spi_card_player .spi_pg {
    position: relative !important;
    z-index: 4010 !important;
    display: block;
    margin-top: 1px !important;
    padding-bottom: 3px !important;
    text-align: center !important;
    font-size: 0 !important;
    line-height: 0 !important;
}

.spi_card_player .spi_pg em,
.spi_card_player .spi_pg span {
    overflow: hidden !important;
    display: inline-block !important;
    width: 6px !important;
    height: 6px !important;
    margin: 0 3px !important;
    border-radius: 3px !important;
    color: transparent !important;
    vertical-align: top !important;
}

.spi_card_player .spi_pg em {
    background-color: #fff !important;
}

.spi_card_player .spi_pg span {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.spi_card_player .spi_cls {
    position: absolute !important;
    top: 7px !important;
    right: 7px !important;
    z-index: 4010 !important;
}

.spi_card_player .spi_cls span {
    background-position: -104px -104px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    color: transparent;
    display: block !important;
}

.spi_card_player .h_spi_card {
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.spi_card_player .spi_area {
    position: relative !important;
    overflow: hidden !important;
    z-index: 4010 !important;
    width: 281px;
    height: 217px !important;
    width: 340px;
    height: 74px !important;
    margin: 0 auto !important;
}

.spi_card_player .spi_area a {
    overflow: hidden;
    color: transparent;
    display: block !important;
    float: left !important;
    width: 50px;
    height: 50px !important;
    padding: 0 9px !important;
}

.spi_card_player .spi_area a:before {
    display: block !important;
    width: 50px !important;
    height: 50px !important;
    margin: 0 auto !important;
    content: "" !important;
}

.spi_card_player .spi_area a:after {
    content: "\00a0";
    font-size: 0;
}

.spi_card_player .spi_area a.lnk_blog:before {
    background-position: -52px 0px;
}

.spi_card_player .spi_area a.lnk_cafe:before {
    background-position: -52px -52px;
}

.spi_card_player .spi_area a.lnk_keep:before {
    background-position: 0px -104px;
}

.spi_card_player .spi_area a.lnk_bookmark:before {
    background-position: 0px -52px;
}

.spi_card_player .spi_area a.lnk_band:before {
    background-position: 0px 0px;
}

.spi_card_player .spi_area a.lnk_x:before {
    background-position: -52px -104px;
}

.spi_card_player .spi_area a.lnk_facebook:before {
    background-position: -104px 0px;
}

.spi_card_player .spi_area a.lnk_friend:before {
    background-position: -104px -52px;
}

.spi_card_player .spi_swipe {
    position: absolute !important;
    top: 50% !important;
    right: 0 !important;
    left: 0 !important;
    z-index: 4010 !important;
    -webkit-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
}

.spi_card_player .spi_swipe_area {
    position: relative !important;
    float: left !important;
    width: 680px;
}

.spi_card_player .spi_swipe_area > div {
    height: 100% !important;
    padding: 12px 0;
}

.spi_card_player .spi_swipe_area > div:after {
    display: block !important;
    clear: both !important;
    content: "" !important;
}

.spi_card_player .msg_area {
    text-align: center !important;
}

.spi_card_player .msg_area p {
    line-height: 22px !important;
    padding-bottom: 15px !important;
    color: #f2f2f2 !important;
    font-size: 16px !important;
}

.spi_card_player .msg_area strong {
    display: block !important;
    color: #f2f2f2 !important;
    font-size: 16px !important;
}

.spi_card_player .msg_area em {
    color: #00ce7c !important;
}

.spi_card_player .msg_area .lnk_bookmark {
    display: inline-block !important;
    height: 30px !important;
    line-height: 30px !important;
    border-radius: 15px;
    background-color: rgba(0, 222, 123, 0.64) !important;
    padding: 0 20px !important;
    color: #fff !important;
    font-size: 14px !important;
    text-align: center !important;
    font-weight: bold;
}

.spi_card_player .spi_copyurl {
    position: relative !important;
    margin: 10px 21px 9px !important;
    text-align: center !important;
}

.spi_card_player .spi_copyurl_url {
    display: none !important;
}

.spi_card_player .spi_copyurl_inappbtn {
    display: inline-block !important;
    height: 36px !important;
    margin: 0 auto !important;
    padding: 0 16px !important;
    background: #dbdfe6 !important;
    border-radius: 18px !important;
    font-size: 14px !important;
    line-height: 36px !important;
    color: #2b2c2e !important;
    font-weight: bold !important;
}

.spi_card_player .spi_copyurl_msg {
    display: none;
}

.spi_card_player .spi_copyurl_inapp .spi_copyurl_inappbtn {
    display: block !important;
}

.spi_card_player .spi_copyurl_inapp .spi_copyurl_msg {
    display: none !important;
}

.spi_card_player.spi_card_msg {
    display: none;
    padding: 0 !important;
}

.spi_card_player .spi_btm_btns {
    display: block !important;
    font-size: 16px !important;
    text-align: center !important;
}

.spi_card_player .spi_btm_link {
    display: inline-block !important;
    height: 30px !important;
    line-height: 30px !important;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.4) !important;
    padding: 0 20px !important;
    color: #fff !important;
    font-size: 14px !important;
    text-align: center !important;
    font-weight: bold;
}

.spi_card_player .spi_btm_link + .spi_btm_link {
    margin-left: 9px;
    background-color: rgba(0, 222, 123, 0.64) !important;
}

.spi_card_player .spi_common_pop {
    line-height: 22px !important;
    padding-bottom: 15px !important;
    color: #f2f2f2 !important;
    font-size: 16px !important;
    text-align: center !important;
}
